<div class="container">
  <h1>You got a question?</h1>
</div>

<div class="container">
  <form action="/questions" method="post">
    <input type="text" name="title" placeholder="give it a title brosepher"><br>
    <textarea type="text" name="body", placeholder="now tell me more about it dude"></textarea><br>
    <input type="submit" value="submit">
  </form>
</div>
