<!-- show the question that user selcted -->
<!-- total votes -->
<!-- if logged in? comments form -->
<!-- if user created?  edit, delete -->

<!-- display question comments -->
<!-- total votes -->
<!-- if logged in? up/down vote(only 1 vote) -->
<!-- if user created?  edit, delete -->

<!-- display all answers -->
<!-- total votes -->
<!-- if logged in? up/down vote(only 1 vote), comments form -->
<!-- if user created?  edit, delete -->

<!-- display answer comments -->
<!-- total votes -->
<!-- if logged in? up/down vote(only 1 vote) -->
<!-- if user created?  edit, delete -->

<!-- if user loggedin? -->
<!-- add answer form -->

<p> <%= @question.body %> </p>
