<h1>Enter the Frat</h1>
<p>Beyond this login lies the bountiful bro banquet of <strong>broverflow</strong>.</p>
<form id="login-form" method="POST" action="/sessions">
  <input type="text" placeholder="suh dude username" name="username"><br><br>
  <input type="password" placeholder="siiiick brah password" name="password"><br><br>
  <input type="submit">
</form>

