body {
  background: url("http://az616578.vo.msecnd.net/files/2015/06/23/6357067084439497251902032246_frat-boys-shorts.jpg");
  /*background-repeat: no-repeat;*/
  background-size: 100%;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#new-q {
  margin: auto;
  width: 600px;
  padding: 10px;
  background-color: black;
  opacity: .85;
  padding: 30px;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.error {
  color: red;
}

header {
  margin: auto;
  width: 300px;
  text-align: center;
  background-color: black;
  opacity: 0.85;
}

#homepage-shtuff {
  margin: auto;
  margin-top: 30px;
  width: 600px;
  padding: 10px;
  background-color: black;
  opacity: .85;
  margin-bottom: 30px;
  padding: 30px;
}

a {
  color: white;
}

#title {
  padding: 30px;
  text-align: center;
  color: white;
  margin: auto;
  width: 600px;
  background-color: black;
  opacity: 0.85;
  border-radius: 5px;
  margin-bottom: 30px;
}

#question-block {
  background-color: black;
  color: #f49292;
  opacity: 0.85;
}

#answer-block {
  background-color: black;
  opacity: 0.85;
  color: #f49292;
}

span {
  color: #00ff1d;
}

.nav {
  color: #00ff1d;
}
 #new-answer-form {
  background-color: black;
  opacity: 0.85;
  color: #f49292;
 }
