<% if logged_in? %>
  <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
    <input type="submit" name="upvote" value="+1 lite beer">
  </form>
  <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
    <input type="submit" name="downvote" value="-1 lite beer">
  </form>
<% end %>

