<div class="container">
  <div>
    <% Question.all.each do |question| %>
        <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
          <button type="submit" name="upvote" value="upvote"></button>
        </form>
        <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
    <% end %>
  </div>
</div>

