<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/food/foo-2/foo108.cur), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2006/03/04/foo108.html" target="_blank" title="Beer"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Beer" style="position:absolute; top: 0px; right: 0px;" /></a>

  <title></title>
</head>
<body id="background-image" >
    <h1  id="title">BROVERFLOW - Suuhhhhh Duuueeee</h1>
   <header class="register">
      <h2><a class="nav" href="/">Brohome</a></h2>
      <% if !logged_in? %>
          <h3><a id="login" class="nav" href="/sessions/new">login</a></h3>
          <h3><a id="new_user" class="nav" href="/users/new">register</a></h3>
          <% else %>
          <form method="post" action="/sessions">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout Bro" class="button logout">
          </form>
          <h3 class="nav">Hello, bro <%= current_user.username %></h3>
      <% end %>
  </header>
  <%= yield %>
</body>
</html>
